/config/nvim/plugin/

# temporary files
*~
\#*#
.DS_Store
.idea
*.log
tmp/

# backup
*.bak

# universal tags
.tags/
.tags

# tex tmp files
*.aux
*.log
_minted-*/
*.synctex.gz
*.nav
*.toc
*.vrb
*.snm
*.out
.auctex-auto/
