# program specific
/config/nvim/plugin/
/texmf/*
!/texmf/tex/
/texmf/tex/*
!/texmf/tex/latex/
/texmf/tex/latex/*
!/texmf/tex/latex/local
custom.el
.yas-compiled-snippets.el

# temporary files
*~
\#*#
.DS_Store
.idea
*.log
tmp/

# backup
*.bak

# universal tags
.tags/
.tags

# tex tmp files
*.aux
*.log
_minted-*/
*.synctex.gz
*.nav
*.toc
*.vrb
*.snm
*.out
.auctex-auto/
