# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# 4 space indentation
[*.{py,rs,c,cpp,h,v,jl,hh,hpp,cc}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# 2 space indentation
[*.{toml,yaml, lua}]
indent_style = space
indent_size = 2

# TAB indentation
[Makefile]
indent_style = tab
